a {
  text-decoration: none;
}

.main {
  background: white;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents {
  width: 100vw;
  /* background-image: url('furima-header01.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #4d4398;
}

.service-title {
  font-size: 4vh;
}

/* 商品一覧 */
.title{
  font-size: 3vh;
  padding-left: 8vw;
}

.item-contents {
  background-color: white;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  padding: 10vh 0;
}

.user-area{
  display: flex;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 24vw;
  padding: 1vw;
  background-color: white;
}


.item-img-content {
  /* position: relative; */
}

.item-img {
  width: 20vh;
  height: 20vh;
}


.item-info {
  background-color: #165e83;
  color: white;
  padding: 1vw;
  margin-bottom: 5px;
  width: 15vw;
  
}

.item-name {
  font-size: 2.0vh;
}

.item-price {
  font-size: 1.5vh;
}

.imit-icon-area {
  display: flex;
}

.limit-icon-red{
  width: 50px;
  height: 50px;
  margin-right: 8px;
  padding: 8px;
  background-color: red;
  color: white;
}

.limit-icon-yellow{
  width: 50px;
  height: 50px;
  margin-right: 8px;
  padding: 8px;
  background-color: yellow;
  color: black;
}

.limit-icon-blue{
  width: 50px;
  height: 50px;
  margin-right: 8px;
  padding: 8px;
  background-color: blue;
  color: white;
}

/* //商品一覧 */